html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #F7EEDD;
}
hr{
  border-top: 1px solid #55a3f6;
}

h1{
  font-size: 50px;
}

h4{
  padding: 400px, 0px, 0px, 0px;
  font-size: 20px;
  color: #E05805;
  font-weight: bold;
  font-family: sans-serif;
}

h3{
  padding: 400px, 0px, 0px, 0px;
  text-align: left;
  font-size: 15px;
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  width: 800px;
  padding-left: 400px;
}